<% wrap_layout :layout do %>

  <main class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12">
    <aside class="hidden lg:relative lg:block lg:flex-none">
      <div class="md:sticky top-[4.5rem] bg-white pt-8 z-50">
        <div class="mb-2 block text-gray-700 text-lg">
          Release <%= partial "partials/version_select" %>
        </div>
        <div class="bg-white relative pointer-events-auto" id="search"></div>
      </div>

      <nav class="sticky top-[12rem] -ml-0.5 h-[calc(100vh-12rem)] overflow-y-auto overflow-x-hidden pb-16 pl-0.5">
        <%= partial "partials/documentation_nav_#{version}" %>
      </nav>
    </aside>

    <article class="prose prose-lg min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
      <h1><%= page_title %></h1>

      <%= yield %>

      <footer class="mt-12 mb-12 flex flex-wrap not-prose">
        <%= edit_github_link %>
        <%= feedback_link %>
      </footer>
    </article>

    <aside class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
      <nav class="table-of-contents w-56">
        <h2 class="font-display text-sm font-medium text-gray-900">On this page</h2>

        <%= table_of_contents %>
      </nav>
    </aside>
  </main>

  <%= partial "partials/anchorjs" %>
  <%= partial "partials/doc_search" %>
  <%= partial "partials/version_redirect" %>
<% end %>
