<% wrap_layout :layout do %>

  <main class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12">
    <aside class="hidden lg:relative lg:block lg:flex-none">
      <div class="md:sticky top-[4.5rem] bg-white pt-8 z-50">
        <div class="mb-2 block text-gray-700 text-lg">
          Release <%= partial "partials/version_select" %>
        </div>
        <div class="bg-white relative pointer-events-auto" id="search"></div>
      </div>

      <nav class="sticky top-[12rem] -ml-0.5 h-[calc(100vh-12rem)] overflow-y-auto overflow-x-hidden pb-16 pl-0.5">
        <%= partial "partials/documentation_nav_#{version}" %>
      </nav>
    </aside>

    <div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
      <article>
        <header class="mb-9 space-y-1">
          <p class="font-display text-sm font-medium text-red-500">Getting started</p>
          <h1 class="font-display text-3xl tracking-tight text-slate-900"><%= page_title %></h1>
        </header>

        <div class="prose prose-slate max-w-none prose-headings:scroll-mt-28 prose-headings:font-display   prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500 prose-a:font-semibold   prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.red.300))] hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:bg-[#f7f7f7] prose-code:before:content-none prose-code:after:content-none">
        <%= yield %>
      </div>
      </article>

      <footer class="text-sm leading-6 mt-12">
        <div class="pt-10 pb-28 border-t border-slate-200 sm:flex justify-end text-slate-500">
          <%= edit_github_link %>
        </div>
      </footer>
    </div>

    <aside class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
      <nav class="table-of-contents w-56">
        <h2 class="font-display text-sm font-medium text-gray-900">On this page</h2>

        <%= table_of_contents %>
      </nav>
    </aside>
  </main>

  <%= partial "partials/anchorjs" %>
  <%= partial "partials/doc_search" %>
  <%= partial "partials/version_redirect" %>
<% end %>
